manifest {
  description = 'filter bgen files by given variants'
  nextflowVersion = '>=21.10.6'
}

tower {
  accessToken = ''
  endpoint = 'http://0.0.0.0:8000/api'
  enabled = true
}

mail {
  from = 'jkarjala@broadinstitute.org'
  smtp.host = 'smtp.sendgrid.net'
  smtp.port = 587
  smtp.user = 'apikey'
  smtp.password = ''
}

profiles {

  gls {

      workDir = 'gs://fg-nf/'
      params.outdir = 'gs://r10-data/bgen/'
      process.container = 'eu.gcr.io/finngen-refinery-dev/bioinformatics:0.7'
      process.cache = 'lenient'
      process.cpus = 1
      // retry when preempted (10) or aborted/preempted (14) or weird 127 possibly file copy issue (127)
      // otherwise terminate workflow allowing submitted tasks to finish
      // https://cloud.google.com/life-sciences/docs/troubleshooting
      process.errorStrategy = { task.exitStatus == 127 || task.exitStatus == 14 || task.exitStatus == 10 ? 'retry' : 'finish' }
      process.maxRetries = 2

      params.files = "gs://r10-data/bgen/chunks/*.bgen"
      params.annotation = "gs://r10-data/annotation/r10_imp_anno_coding_INFO0.6.gz"

      process.executor = 'google-lifesciences'
      executor.queueSize = 100000
      google.region  = 'europe-west1'
      google.location = 'europe-west4'
      google.project = 'finngen-refinery-dev'
      google.lifeSciences.serviceAccountEmail = 'nextflow-service-account@finngen-refinery-dev.iam.gserviceaccount.com'
      google.lifeSciences.network = 'default'
      google.lifeSciences.subnetwork = 'default'
      google.lifeSciences.bootDiskSize = 15.GB
      google.lifeSciences.preemptible = true
      google.lifeSciences.usePrivateAddress = true
      google.lifeSciences.sshDaemon = false
      google.lifeSciences.keepAliveOnFailure = false
      google.lifeSciences.debug = false
      google.storage.maxParallelTransfers = 10
      google.storage.parallelThreadCount = 4
      google.storage.downloadMaxComponents = 8
      google.storage.delayBetweenAttempts = 120
  }
}
